{% extends 'chart/base.html' %}
{% block content %}
  <div class = "row mt-5">
    <div class = "col-md-4 mt-2">
      <hr>
      <form action="" method="POST">
        {% csrf_token %}
        {{ form }}
        <input class="btn btn-success mt-2" type="submit" value="Add Data">
      </form>
    </div>
    <div class = "col-md-8">
    <div>
      <canvas id="myChart"></canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      const ctx = document.getElementById('myChart');
      new Chart(ctx, {
      type: 'bar',
      data: {
        labels: [{% for product in products %} "{{ product.catagory }}", {% endfor %}],
        datasets: [{
          label: 'product',
          data: [{% for product in products %} {{ product.num_of_products }}, {% endfor %}],
          backgroundColor: [
             'rgba(255, 99, 132, 0.2)',
             'rgba(54, 162, 235, 0.2)',
             'rgba(255, 206, 86, 0.2)',
             'rgba(75, 192, 192, 0.2)',
             'rgba(153, 102, 255, 0.2)',
             'rgba(255, 159, 64, 0.2)'
          ],
          borderColor:[
             'rgba(255, 99, 132, 1)',
             'rgba(54, 162, 235, 1)',
             'rgba(255, 206, 86, 1)',
             'rgba(75, 192, 192, 1)',
             'rgba(153, 102, 255, 1)',
             'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
      });
    </script>
    </div>
  </div>
{% endblock %}