<!-- feed_box 영역 -->
<!DOCTYPE html>
{% load static %}
{% for feed in feeds %}
<div class="border feed_box">
  <div class="feed_name">
    <div class="profile_box">
      <img class="profile_img" src="{% get_media_prefix %}{{ feed.profile_image }}">
    </div>
    <span class="feed_name_txt"> {{ feed.nickname }} </span>
  </div>
  <img class="feed_img" src="{% get_media_prefix %}{{ feed.image }}">
  <div class="feed_icon">
    <div>
      <span id="favorite_{{ feed.id }}" feed_id="{{ feed.id }}" class="favorite material-icons-outlined" style="color: red;cursor: pointer">
        {% if feed.is_liked %}favorite
        {% else %}favorite_border
        {% endif %}
      </span>
      <span class="material-icons-outlined">mode_comment</span>
      <span class="material-icons-outlined">send</span>
    </div>
    <div>
      <span id="bookmark_{{ feed.id }}" feed_id="{{ feed.id }}" class="bookmark material-icons-outlined" style="color: red;cursor: pointer">
        {% if feed.is_marked %}bookmark
        {% else %}bookmark_border
        {% endif %}
      </span>
    </div>
  </div>
  <div class="feed_like">
    <p class="feed_txt"><b>좋아요 {{ feed.like_count }} 개  북마크 {{ feed.marked_count }} 개</b></p>
  </div>
  <div class="feed_content">
    <p class="feed_txt"> <b>{{ feed.nickname }} :: </b>{{ feed.content }}</p>
  </div>
  <div class="feed_reply" id="reply_list_{{ feed.id }}">
     {% for reply in feed.reply_list %}
          <span class="feed_txt"> <b>{{ reply.nickname }} :: </b>{{ reply.reply_content }}</span>
     {% endfor %}
  </div>
  <br>
  <div style="display:flex;flex-direction: row;align-items: center; border-top: solid 3px blue">
      <input id="reply_{{ feed.id }}" type="text" class="form-control"
             style="box-shadow: none; border: none; outline: none"
             placeholder="댓글 달기..">
      <div feed_id="{{ feed.id }}" class="upload_reply"
           style="width: 50px;color: cornflowerblue; font-weight: bold">
           댓글
      </div>
  </div>
</div>
{% endfor %}
<!-- feed_box 영역 끝 -->

<!-- 댓글 script 영역 끝 -->
<script>
$(".bookmark").click(function (event) {
    let feed_id = event.target.attributes.getNamedItem('feed_id').value;
    let bookmark_id = event.target.id;
    let bookmark_text = $.trim($('#' + bookmark_id).html());
    if (bookmark_text == 'bookmark') {
        $('#' + bookmark_id).html('bookmark_border');
    } else {
        $('#' + bookmark_id).html('bookmark');
    }

    $.ajax({
        url: "/content/bookmark/",
        data: {
            feed_id: feed_id,
            bookmark_text: bookmark_text
        },
        method: "POST",
        success: function (data) {
            console.log("성공");
            location.reload("/main/")
        },
        error: function (request, status, error) {
            console.log("에러");
        },
        complete: function () {
            console.log("완료");
        }
    });
});

$(".favorite").click(function (event) {
    let feed_id = event.target.attributes.getNamedItem('feed_id').value;
    let favorite_id = event.target.id;
    console.log(favorite_id);
    let favorite_text = $.trim($('#' + favorite_id).html());
    console.log(favorite_text);
    if (favorite_text == 'favorite') {
        $('#' + favorite_id).html('favorite_border');
    } else {
        $('#' + favorite_id).html('favorite');
    }

    $.ajax({
        url: "/content/like/",
        data: {
            feed_id: feed_id,
            favorite_text: favorite_text
        },
        method: "POST",
        success: function (data) {
            console.log("성공");
            location.reload("/main/")
        },
        error: function (request, status, error) {
            console.log("에러");
        },
        complete: function () {
            console.log("완료");
        }
    });
});

$(".upload_reply").click(function (event) {
    let feed_id = event.target.attributes.getNamedItem('feed_id').value;
    let reply_id = 'reply_' + feed_id;
    let reply_content = $('#' + reply_id).val();

    if (reply_content.length <= 0) {
        alert("댓글을 입력하세요");
        return 0;
    }

    $.ajax({
        url: "/content/reply/",
        data: {
            feed_id: feed_id,
            reply_content: reply_content
        },
        method: "POST",
        success: function (data) {
            console.log("성공");
            $("#reply_list_" + feed_id).append("<span class='feed_txt'> <b> {{ user.nickname }} :: </b>" + reply_content + "</span>")
<!--            $("#reply_list_" + feed_id).append("<div style='margin: 0 20px;text-align: left;font-size: 14px'><b>{{ user.nickname }}</b> " + reply_content + "</div>")-->
<!--            location.replace('/main');-->
        },
        error: function (request, status, error) {
            console.log("에러");
        },
        complete: function () {
            console.log("완료");
            $('#' + reply_id).val('');
        }
    });
});
</script>

