.floating_form {
    margin: 0px 30px;
}

.floating_label {
    margin-top: -4px;
    font-size: 14px;
}

.floating_input {
    height: 50px !important;
    padding-top: 20px !important;
    font-size: 14px !important;
}