{% extends 'chart/index.html' %}
{% block mainsection %}
<!DOCTYPE html>
<!--<html>-->
<!--<head>-->
<!--<meta charset="UTF-8">-->
<!--<title>chart.js</title>-->
<!--<head>-->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<!--</head>-->
<!--<body>-->
<!--	<div class="chart-container" style="position: relative; height:200px; width:60vw">-->
	<div class="chart-container" style="padding:20px; position: relative; height:60%; width:100%">
		<canvas id="myChart"></canvas>
	</div>
    <div style="margin:auto;width:20%;padding:5px;">
        <button style ="background-color:red; height:30px; width:120px" type="button" id="reData">데이터 변경</button>
        <button style ="background-color:blue; height:30px; width:120px" type="button" id="addData">데이터 추가</button>
        <button style ="background-color:blue; height:30px; width:120px" type="button" id="delData">데이터 삭제</button>
        <button style ="background-color:yellow; height:30px; width:120px" type="button" id="addDataSet">데이터셋 추가</button>
        <button style ="background-color:yellow; height:30px; width:120px" type="button" id="delDataset">데이터셋 삭제</button>
    </div>


  <script>
	var ctx = document.getElementById('myChart');
	var config = {
		type: 'bar',
		data: {
			labels: [
                {% for samsung in samsung %}
                '{{ samsung.Date|date:"Y-m-d" }}',
                {% endfor %}
			],
			datasets: [{
				label: 'Close_price',
				backgroundColor: 'rgba(75, 192, 192, 1)',
				borderColor: 'rgba(75, 192, 192, 1)',
				fill: false,
				data: [
			        {% for samsung in samsung %}
			        Number({{ samsung.Close_price }}),
			        {% endfor %}
				],
			}, {
				label: 'Individual',
				backgroundColor: 'rgba(255, 99, 132, 1)',
				borderColor: 'rgba(255, 99, 132, 1)',
				fill: false,
				data: [
			        {% for samsung in samsung %}
			        Number({{ samsung.Individual }}),
			        {% endfor %}
				],
			}, {
				label: 'Foreigner',
				backgroundColor: 'rgba(150, 0, 100, 1)',
				borderColor: 'rgba(150, 0, 100, 1)',
				fill: false,
				data: [
			        {% for samsung in samsung %}
			        Number({{ samsung.Foreigner }}),
			        {% endfor %}
				],
			}, {
				label: 'Organ',
				backgroundColor: 'rgba(0, 99, 132, 1)',
				borderColor: 'rgba(0, 99, 132, 1)',
				fill: false,
				data: [
			        {% for samsung in samsung %}
			        Number({{ samsung.Organ }}),
			        {% endfor %}
				],
			}]
		},
		options: {
			maintainAspectRatio: false,
			title: {
				text: 'Chart.js Time Scale'
			},
			scales: {
				yAxes: [{
					scaleLabel: {
						display: true,
						labelString: '차트'
					}
				}]
			},
		}
	};

	//차트 그리기
	var myChart = new Chart(ctx, config);

	//데이터 변경
	document.getElementById('reData').onclick = function(){
		//데이터셋 수 만큼 반복
		var dataset = config.data.datasets;
		for(var i=0; i<dataset.length; i++){
			console.log(dataset);
			//데이터 갯수 만큼 반복
			var data = dataset[i].data;
			for(var j=0 ; j < data.length ; j++){
				data[j] = Math.floor(Math.random() * 50);
			}
		}
		myChart.update();	//차트 업데이트
	}

	//데이터 추가
	document.getElementById('addData').onclick = function(){
		//라벨추가
		config.data.labels.push('data'+config.data.labels.length)
		//데이터셋 수 만큼 반복
		var dataset = config.data.datasets;
		for(var i=0; i<dataset.length; i++){
			//데이터셋의 데이터 추가
			dataset[i].data.push(Math.floor(Math.random() * 50));
		}
		myChart.update();	//차트 업데이트
	}

	//데이터셋 추가
	document.getElementById('addDataSet').onclick = function(){
		var color1 = Math.floor(Math.random() * 256);
		var color2 = Math.floor(Math.random() * 256);
		var color3 = Math.floor(Math.random() * 256);

		console.log(color1 + " " + color2 + " " + color3)

		var newDataset = {
			label: 'new Dataset'+config.data.datasets.length,
			borderColor : 'rgba('+color1+', '+color2+', '+color3+', 1)',
			backgroundColor : 'rgba('+color1+', '+color2+', '+color3+', 1)',
			data: [],
			fill: false
		}

		// newDataset에 데이터 삽입
		for (var i=0; i< config.data.labels.length; i++){
			var num = Math.floor(Math.random() * 50);
			newDataset.data.push(num);
		}

		// chart에 newDataset 푸쉬
		config.data.datasets.push(newDataset);

		myChart.update();	//차트 업데이트
	}

	//데이터 삭제
	document.getElementById('delData').onclick = function(){

		config.data.labels.splice(-1,1);//라벨 삭제

		//데이터 삭제
		config.data.datasets.forEach(function(dataset) {
			dataset.data.pop();
		});

		myChart.update();	//차트 업데이트
	}

	//데이터셋 삭제
	document.getElementById('delDataset').onclick = function(){
		config.data.datasets.splice(-1,1);
		myChart.update();	//차트 업데이트
	}

  </script>
<!--</body>-->
{% endblock %}